*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-heigth) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}