/* for small devices */

@media screen and (max-width:350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }


    .nav-menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav-list {
        column-gap: 0;
    }

    /* HOME */
    .home-content {
        grid-template-columns: .25fr 3fr;
    }

    .home-blob {
        width: 180px;
    }

    

    /* SKILL */
    .knowledge ul li {
        justify-content: space-around;
        align-items: center;
        border: 3px solid var(--first-color-alt);
        padding: 3px;
        margin: 1px;
    }

    .skills-title {
        font-size: var(--normal-font-size);
    }
}

@media screen and (min-width: 415px) {
    .typing-animation{
        animation: none;
        border-right: none;
        text-align: center;
    }
}


/* for medium devices */

@media screen and (min-width: 568px) {
    .home-content {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home-data {
        grid-column: initial;
    }

    .home-img {
        order: 1;
        justify-self: center;
    } 

    /* ABOUT */
    .about-img {
        width: 450px;
    }

    .about-data{
        position: relative;
        top: 50%;
        transform: translateY(-45%);
    }

    /* SKILL */
    .knowledge ul li {
        padding: .1rem;
        margin: .1rem;
    }

    .about-container,
    .portfolio-content,
    .contact-container,
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section-subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer-container {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav-icons,
    .nav-close,
    .nav-toggle {
        display: none;
    }

    .nav-list {
        display: flex;
        column-gap: 2rem;
    }

    .nav-menu {
        margin-left: auto;
        padding: 0;
    }

    /* HOME */
    .home-container {
        row-gap: 5rem;
    }

    .home-content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home-blob {
        width: 270px;
    }

    .home-scroll {
        display: block;
    }

    .home-scroll-button {
        margin-left: 3rem;
    }
    


    /* ABOUT */
    .about-container {
        column-gap: 5rem;
    }

    .about-img {
        width: 450px;
    }

    .about-description {
        text-align: justify;
    }

    /* SKILL */
    .knowledge ul li {
        padding: .2rem;
        margin: .3rem;
    }

    /* PORTFOLIO */
    .portfolio-img {
        width: 320px;
    }

    .portfolio-content {
        align-items: center;
    }


    /* FOOTER */
    .footer-container {
        display: flex;
        justify-content: space-around;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-bg {
        padding: 3rem 0 3.5rem;
    }

    .footer-links {
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer-socials {
        justify-self: flex-end;
    }

    .footer-copy {
        margin-top: 4, 5rem;
    }
}

/* for large devices */

@media screen and (min-width: 1024px) {
    .section {
        padding: 4rem 0 2rem;
    }

    .container {
        max-width: 1024px;
    }

    .header,
    .main,
    .footer-container {
        padding: 0;
    }

    /* HOME */
    .home-blob {
        width: 320px;
    }

    .home-socials {
        transform: translateX(-6rem);
    }

    /* ABOUT */
    .about-img{
        width:350px;
    }

    .about-data{
        position: relative;
        top: 50%;
        transform: translateY(-40%);
    }

    /* SKILL */
    .knowledge ul li {
        padding: .4rem;
        margin: .4rem;
    }

    /* PORTFOLIO */

    .portfolio-content {
        column-gap: 5rem;
    }

    .swiper-portfolio-icon {
        font-size: 3.5rem;
    }

    .swiper-button-prev {
        left: -3.5rem;
    }

    .swiper-button-next {
        right: -3.5rem;
    }

    .swiper-portfolio-horizontal>.swiper-pagination-bullets {
        bottom: -4.5rem;
    }

    /* CONTACT */

    .contact-form {
        width: 460px;
    }

    .contact-inputs {
        grid-template-columns: repeat2(2, 1fr);
    }
}