/* Fonts */
html{
    font-family: 'Poppins', sans-serif;
}

.section{
    padding: 2rem 0 4rem;
}

.section-title{
    font-size:var(--h1-font-size);
}

.section-subtitle{
    display: block;
    font-size: var(--small-font-size);
}

.section-title,.section-subtitle{
    text-align: center;
}

/* LAYOUT */

.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

/* HEADER */

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* HOME */

.home-container{
    gap: 1rem;
}

.home-content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home-social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home-social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}

.home-social-icon:hover{
    color: var(--first-color-alt);
}

.home-blob{
    width: 200px;
    fill: var(--first-color);
}

.home-blob-img{
    width: 170px;
}

.home-data{
    grid-column: 1/3;
}

.home-title{
    font-size: var(--big-font-size);
}

.home-subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home-description{
    margin-bottom: var(--mb-2);
}

.home-scroll{
    display: none;
}

.home-scroll-button{
    columns: var(--first-color);
    transition: 0.3s;
}

.home-scroll-button:hover{
    transform: translateY(.25rem);
}


.home-scroll-mouse{
    font-size: 2rem;
}

.home-scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home-scroll-arrow{
    font-size: 1.25rem;
}

/* BUTTON */

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button-icon{
    font-size: 1.25rem;
    margin-left: var(--mb-5);
    transition: 0.3s;
}

.button-flex{
    display: inline-flex;
    align-items: center;
}

/* ABOUT */

.about-img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about-description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

/* SKILLS */

.knowledge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.knowledge ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.knowledge ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--first-color-alt);
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
    transition: 0.5s;
}

.indicator {
    padding-top: 50px;
}

.r1 {
    color: #fff;
    background: var(--first-color);
    opacity: 0.9;
    filter: drop-shadow(0 0px 5px var(--first-color)) drop-shadow(0 1px 1px var(--first-color));
}

.r1:hover {
    transform: translateY(-5px);
}

.r2 {
    border: transparent;
    opacity: 0.9;
    color: var(--first-color-alt);
}

.r3 {
    color: #000;
    opacity: 0.5;
}

/* PORTIFOLIO */

.portfolio-container{
    overflow: initial;
}

.portfolio-content{
    padding: 0 1.5rem;
}

.portfolio-img{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio-title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}
.portfolio-description{
    margin-bottom: var(--mb-0-75);
}

.portfolio-button:hover .button-icon{
    transform: translateX(0.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: " ";
}

.swiper-portfolio-icon{
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev{
    left: -0.5rem;
}

.swiper-button-next{
    right: -0.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -2.5rem;
}
.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
    outline: none;
}