/* Fonts */
html{
    font-family: 'Poppins', sans-serif;
}

.section{
    padding: 2rem 0 4rem;
}

.section-title{
    font-size:var(--h1-font-size);
}

.section-subtitle{
    display: block;
    font-size: var(--small-font-size);
}

.section-title,.section-subtitle{
    text-align: center;
}

/* LAYOUT */

.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

/* HEADER */

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

